@import url('https://fonts.googleapis.com/css2?family=Flavors&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../../public/images/body-BG.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.home_header{
    height: 160vh;
    position: static;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Space Grotesk", serif;
}

.home_artists{
    height: 100vh;
}

.home_stages{
    height: 190vh;
    font-weight: 400;
    font-style: normal;
    font-family: "Space Grotesk", serif;
}

.home_stages h1{
    text-align: center;
    font-weight: bold;
    padding: 1em;
    font-size: 96px;
    font-style: normal;
    color: white;
}

.stages{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    margin-top: 1em;
}

.musica_na_igreja, .frei_santa_cecilia, .joao_bebe_agua, .samba_na_bica{
    display: grid;
    padding: 0;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 50vh;
}

.musica_na_igreja button{
    background-color: #96FF01;
    width: 20vw;
    height: 4em;
    border-radius: 0px 0px 15px 15px;
    margin: auto;
    border: none;
}

.joao_bebe_agua button{
    background-color: #FF7200;
    width: 20vw;
    height: 4em;
    border-radius: 0px 0px 15px 15px;
    margin: auto;
    border: none;
}

.frei_santa_cecilia button{
    background-color: #00FFFF;
    width: 20vw;
    height: 4em;
    border-radius: 0px 0px 15px 15px;
    margin: auto;
    border: none;
}

.samba_na_bica button{
    background-color: #F5E901;
    width: 20vw;
    height: 4em;
    border-radius: 0px 0px 15px 15px;
    margin: auto;
    border: none;
}
.musica_na_igreja a, .joao_bebe_agua a, .frei_santa_cecilia a, .samba_na_bica a{
    text-decoration: none;
    font-size: 2em;
    color: white;
}

.musica_na_igreja p , .joao_bebe_agua p , .samba_na_bica p , .frei_santa_cecilia p{
    background-color: white;
    display: flex;
    justify-self: center;
    align-items: center;
    width: 20vw;
    height: 15vh;
    text-align: center;
    margin: auto;
    padding: 0;
}

.musica_na_igreja h2{
    border-radius: 15px 15px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    background-color: #96FF01;
    width: 20vw;
    text-align: center;
    margin: auto;
    padding: 0;
    color: white;
}

.joao_bebe_agua h2{
    border-radius: 15px 15px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    background-color: #FF7200;
    width: 20vw;
    text-align: center;
    margin: auto;
    padding: 0;
    color: white;
}

.samba_na_bica h2{
    border-radius: 15px 15px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    background-color: #F5E901;
    width: 20vw;
    text-align: center;
    margin: auto;
    padding: 0;
    color: white;
}

.frei_santa_cecilia h2{
    border-radius: 15px 15px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    background-color: #00FFFF;
    width: 20vw;
    text-align: center;
    margin: auto;
    padding: 0;
    color: white;
}

.stages_title{
    width: 20vw;
    height: 50vh;
    padding-bottom: 0;
    padding-top: 0;
}


.home_stages_top_img{
    width: 99vw;
    padding: 0;
}

.home_header_wallpaper{
    width: 80vw;
    display: flex;
    justify-self: center;
    padding: 5em;
}

.home_header_artists{
    max-width: 60vw;
    min-width: 60vw;
    justify-self: center;
}

.carroussel{
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.home_header_title{
    width: 30vw;
    display: flex;
    justify-self: center;
}

.home_header_artists img{
    width: 20vw;
    scroll-snap-align: center;
}

.home_footer_img{
    width: 99vw;
    height: 50vh;
    padding: 0;
}

.home_footer_partnaires {
    width: 96vw;
}

@media (max-width:1440px) {
    .home_header{
        height: 90vh;
    }

    .home_header_wallpaper{
        width: 80vw;
        padding-left: 0;
        padding-right: 0;    
    }

    .home_header_title{
        width: 40vw;
    }

    .carroussel{
        width: 100vw;
    }

    .home_header_artists{
        width: 100vw;
        display: flex;
    }


    .carroussel img{
        width: 40vw;
    }

    .home_stages{
        height: 200vh;
    }

    .home_stages h1{
        font-size: 5em;
    }

    .home_stages_top_img{
        width: 100%;
        margin-top: 40%;
    }

    .stages_container{
        max-width: 100vw;
        min-width: 100vw;
        min-height: 60vh;
        max-height: 80vh;
        justify-self: center;
    }

    .stages{
        display: grid;
        grid-auto-flow: column;
        overflow-x: auto;
        overflow-y: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        height: 80vh; 
    }

    .musica_na_igreja,.joao_bebe_agua,.samba_na_bica,.frei_santa_cecilia{
        width: 60vw;
        height: fit-content;
        scroll-snap-align: center;

        h2{
            width: 40vw;
        }

        p{
            width: 40vw;
        }

        button{
            width: 40vw;
        }
    }

    .stages_title{
        width: 40vw;
        padding: 0;
    }

    .home_footer_partnaires{
        padding: 0;
    }


    .home_footer_img{
        width: 100%;
        height: 30vh;
        margin-top: 25em;
    }

    .home_footer_partnaires{
        display: flex;
        justify-self: center;
        width: 95%;
        margin-bottom: 1em;
    }
}

@media (min-width:1024px) and (max-width:1440px) {
    .carroussel img{
        width: 30vw;
    }

    .home_stages_top_img{
        margin-top: 40%;
    }

    .stages_container{
        max-width: 100vw;
        min-width: 100vw;
        min-height: 60vh;
        max-height: 80vh;
        justify-self: center;
    }

    .stages{
        display: grid;
        grid-auto-flow: column;
        overflow-x: auto;
        overflow-y: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        height: 80vh; 
    }

    .musica_na_igreja,.joao_bebe_agua,.samba_na_bica,.frei_santa_cecilia{
        width: 50vw;
        scroll-snap-align: center;

        h2{
            width: 40vw;
        }

        p{
            width: 40vw;
        }

        button{
            width: 40vw;
        }
    }

    .stages_title{
        width: 40vw;
        padding: 0;
    }
}

@media (min-width:930px) and (max-width:1024px) {
    
    .home_stages_top_img{
        margin-top: 60%;
    }
}

@media (max-width:900px) {

    .home_stages_top_img{
        margin-top: 40%;
    }

    .stages_container{
        max-width: 100vw;
        min-width: 100vw;
        min-height: 60vh;
        max-height: 80vh;
        justify-self: center;
    }

    .stages{
        display: grid;
        grid-auto-flow: column;
        overflow-x: auto;
        overflow-y: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        height: 80vh; 
    }

    .musica_na_igreja,.joao_bebe_agua,.samba_na_bica,.frei_santa_cecilia{
        width: 100vw;
        scroll-snap-align: center;

        h2{
            width: 50vw;
        }

        p{
            width: 50vw;
        }

        button{
            width: 50vw;
        }
    }

    .stages_title{
        width: 50vw;
        padding: 0;
    }
        
}

@media (max-width:769px){
    .home_header{
        height: 90vh;
    }

    .home_header_wallpaper{
        width: 80vw;
        padding-left: 0;
        padding-right: 0;    
    }

    .home_header_title{
        width: 40vw;
    }

    .carroussel{
        width: 100vw;
    }

    .home_header_artists{
        width: 100vw;
        display: flex;
    }


    .carroussel img{
        width: 30vw;
    }

    .home_stages{
        height: 150vh;
    }

    .home_stages h1{
        font-size: 3em;
    }

    .home_stages_top_img{
        width: 100%;
        margin-top: 30%;
    }

    .home_footer_partnaires{
        padding: 0;
    }

    .stages_container{
        max-width: 100vw;
        min-width: 100vw;
        min-height: 60vh;
        max-height: 80vh;
        justify-self: center;
    }

    .stages{
        display: grid;
        grid-auto-flow: column;
        overflow-x: auto;
        overflow-y: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        height: 80vh; 
    }

    .musica_na_igreja,.joao_bebe_agua,.samba_na_bica,.frei_santa_cecilia{
        width: 100vw;
        scroll-snap-align: center;

        h2{
            width: 60vw;
        }

        p{
            width: 60vw;
        }

        button{
            width: 60vw;
        }
    }

    .stages_title{
        width: 60vw;
        padding: 0;
    }

    

    

    .home_footer_img{
        width: 100%;
        height: 30vh;
        margin-top: 15em;
    }

    .home_footer_partnaires{
        display: flex;
        justify-self: center;
        width: 95%;
        margin-bottom: 1em;
    }
    
}

@media (min-width:700px) and (max-width:769px) {
    .stages_container{
        max-width: 100vw;
        min-width: 100vw;
        min-height: 60vh;
        max-height: 80vh;
        justify-self: center;
    }

    .stages{
        display: grid;
        grid-auto-flow: column;
        overflow-x: auto;
        overflow-y: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        height: 80vh; 
    }

    .musica_na_igreja,.joao_bebe_agua,.samba_na_bica,.frei_santa_cecilia{
        width: 100vw;
        scroll-snap-align: center;

        h2{
            width: 50vw;
        }

        p{
            width: 50vw;
        }

        button{
            width: 50vw;
        }
    }

    .stages_title{
        width: 50vw;
        padding: 0;
    }
}

@media (max-width:699px) {

    .home_header{
        height: 90vh;
    }

    .home_header_wallpaper{
        width: 100vw;
        height: 35vh;
        padding-left: 0;
        padding-right: 0;    
    }

    .home_header_title{
        width: 80vw;
    }

    .carroussel{
        width: 100vw;
    }

    .home_header_artists{
        width: 100vw;
        display: flex;
    }

    .carroussel img{
        width: 55vw;
    }

    .home_stages{
        height: 400vh;
    }

    .home_stages h1{
        font-size: 3em;
    }

    .home_stages_top_img{
        width: 100%;
        margin-top: 15em;
    }

    .stages_container{
        max-width: 100vw;
        min-width: 100vw;
        min-height: 60vh;
        max-height: 80vh;
        justify-self: center;
    }

    .stages{
        display: grid;
        grid-auto-flow: column;
        overflow-x: auto;
        overflow-y: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        height: 80vh; 
    }

    .musica_na_igreja,.joao_bebe_agua,.samba_na_bica,.frei_santa_cecilia{
        width: 100vw;
        scroll-snap-align: center;

        h2{
            width: 80vw;
        }

        p{
            width: 80vw;
        }

        button{
            width: 80vw;
        }
    }

    .stages_title{
        width: 80vw;
        padding: 0;
    }


    .home_footer_partnaires{
        padding: 0;
    }

    
    .home_footer_img{
        width: 100%;
        height: 20vh;
        margin-top: 10em;
    }

    .home_footer_partnaires{
        display: flex;
        justify-self: center;
        width: 95%;
        margin-bottom: 1em;
    }
    
}

@media (min-width:630px) and (max-width:699px) {
    .home_header_wallpaper{
        height: 50vh;
    }

    .home_stages_top_img{
        margin-top: 30em;
    }

    .home_stages{
        height: 180vh;
    }

    .stages_container{
        max-width: 100vw;
        min-width: 100vw;
        min-height: 60vh;
        max-height: 80vh;
        justify-self: center;
    }

    .stages{
        display: grid;
        grid-auto-flow: column;
        overflow-x: auto;
        overflow-y: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        height: 80vh; 
    }

    .musica_na_igreja,.joao_bebe_agua,.samba_na_bica,.frei_santa_cecilia{
        width: 100vw;
        scroll-snap-align: center;

        h2{
            width: 60vw;
        }

        p{
            width: 60vw;
        }

        button{
            width: 60vw;
        }
    }

    .stages_title{
        width: 60vw;
        padding: 0;
    }

}

@media (min-width:580px) and (max-width:630px) {
    .home_stages_top_img{
        margin-top: 18em;
    }

    .home_stages{
        height: 150vh;
    }

    .stages_container{
        max-width: 100vw;
        min-width: 100vw;
        min-height: 60vh;
        max-height: 80vh;
        justify-self: center;
    }

    .stages{
        display: grid;
        grid-auto-flow: column;
        overflow-x: auto;
        overflow-y: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        height: 80vh; 
    }

    .musica_na_igreja,.joao_bebe_agua,.samba_na_bica,.frei_santa_cecilia{
        width: 100vw;
        scroll-snap-align: center;

        h2{
            width: 70vw;
        }

        p{
            width: 70vw;
        }

        button{
            width: 70vw;
        }
    }

    .stages_title{
        width: 70vw;
        padding: 0;
    }
}

@media (max-width:580px) {

    .home_stages{
        height: 150vh;
    }

    .stages_container{
        max-width: 100vw;
        min-width: 100vw;
        min-height: 60vh;
        max-height: 80vh;
        justify-self: center;
    }

    .stages{
        display: grid;
        grid-auto-flow: column;
        overflow-x: auto;
        overflow-y: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        height: 80vh; 
    }

    .musica_na_igreja,.joao_bebe_agua,.samba_na_bica,.frei_santa_cecilia{
        width: 100vw;
        scroll-snap-align: center;

        h2{
            width: 70vw;
        }

        p{
            width: 70vw;
        }

        button{
            width: 70vw;
        }
    }

    .stages_title{
        width: 70vw;
        padding: 0;
    }
}

@media (max-width:426px) {

    .home_header{
        height: 90vh;
    }

    .home_header_wallpaper{
        width: 100vw;
        height: 35vh;
        padding-left: 0;
        padding-right: 0;    
    }

    .home_header_title{
        width: 80vw;
    }

    .carroussel{
        width: 100vw;
    }

    .home_header_artists{
        width: 100vw;
        display: flex;
    }


    .carroussel img{
        width: 55vw;
    }

    .home_stages{
        height: 150vh;
    }

    .home_stages h1{
        font-size: 3em;
    }

    .home_stages_top_img{
        width: 100%;
        margin-top: 10em;
    }

    .home_footer_partnaires{
        padding: 0;
    }

    .stages_container{
        max-width: 100vw;
        min-width: 100vw;
        min-height: 60vh;
        max-height: 80vh;
        justify-self: center;
    }

    .stages{
        display: grid;
        grid-auto-flow: column;
        overflow-x: auto;
        overflow-y: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        height: 80vh; 
    }

    .musica_na_igreja,.joao_bebe_agua,.samba_na_bica,.frei_santa_cecilia{
        width: 100vw;
        scroll-snap-align: center;

        h2{
            width: 80vw;
        }

        p{
            width: 80vw;
        }

        button{
            width: 80vw;
        }
    }

    .stages_title{
        width: 80vw;
        padding: 0;
    }   

    

    .home_footer_img{
        width: 100%;
        height: 20vh;
        margin-top: 10em;
    }

    .home_footer_partnaires{
        display: flex;
        justify-self: center;
        width: 95%;
        margin-bottom: 1em;
    }
    
}



@media (max-width:376px) and (max-height:883px) {

    .home_header{
        height: 90vh;
    }

    .home_header_wallpaper{
        width: 100vw;
        height: 25vh;
        padding-left: 0;
        padding-right: 0;    
    }

    .home_header_title{
        width: 80vw;
    }

    .carroussel{
        width: 100vw;
    }

    .home_header_artists{
        width: 100vw;
        display: flex;
    }


    .carroussel img{
        width: 55vw;
    }

    .home_stages_top_img{
        margin-top: 3em;
    }

    .home_stages{
        height: 150vh;
    }

    .home_stages h1{
        font-size: 3em;

    }


    .home_footer_partnaires{
        padding: 0;
    }

    .stages_container{
        max-width: 100vw;
        min-width: 100vw;
        min-height: 60vh;
        max-height: 80vh;
        justify-self: center;
    }

    .stages{
        display: grid;
        grid-auto-flow: column;
        overflow-x: auto;
        overflow-y: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        height: fit-content; 
    }

    .musica_na_igreja,.joao_bebe_agua,.samba_na_bica,.frei_santa_cecilia{
        width: 100vw;
        scroll-snap-align: center;

        h2{
            width: 80vw;
        }

        p{
            width: 80vw;
        }

        button{
            width: 80vw;
        }
    }

    .stages_title{
        width: 80vw;
        padding: 0;
    }

    .home_footer_img{
        height: 20vh;
        margin-top: 10em;
    }

    .home_footer_partnaires{
        display: flex;
        justify-self: center;
        width: 95%;
    }
    
}