
.artist_container{
    font-family: "Space Grotesk", serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 85vw;
    height: 75vh;
    margin: auto;
    border-radius: 15px;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.7);
}

.artist_details{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    font-size: 1.3rem;
    padding: 1em;
    padding-left: 1.5em;
    border-radius: 15px;
}

.artist_details h1{
    display: flex;
    font-size: 3rem;
    color: white;
    padding-bottom: 1em;
    justify-self: center;
}

.artist_details p{
    color: rgb(228, 219, 219);
    padding-bottom: 1em;
}

.artist_img{
    display: flex;
    justify-content: start;
    width: 45vw;
    border-radius: 50px;
    height: 70vh;
}

.spotify_embed iframe{
    width: 30vw;
    height: 30vh;
}

@media (max-width:1240px) {

    .artist_details h1{
        padding-bottom: 0.2em;
        display: flex;
        justify-self: center;
        align-self: center;
        text-align: center;
    }
}

@media (max-width:1024px) {
    .artist_container{
        display: grid;
        height: fit-content;
        width: 80%;
        align-items: center;
        justify-content: center;
    }

    .artist_img{
        margin: auto;
        height: 50vh;
        width: 60vw;
    }

    .artist_details{
        padding: 0;
        display: grid;
        width: 80%;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    .artist_details h1{
        padding-bottom: 1em;
        display: flex;
        justify-self: center;
        align-self: center;
        text-align: center;
    }

    .spotify_embed iframe{
        width: 80vw;
        display: flex;
        justify-self: center;
    }
}

@media (max-width:768px) {
    .artist_container{
        display: grid;
        height: fit-content;
        width: 80%;
        align-items: center;
        justify-content: center;
    }

    .artist_img{
        margin: auto;
        height: 40vh;
        width: 50vw;
    }

    .artist_details{
        padding: 0;
        display: grid;
        width: 80%;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    .artist_details h1{
        display: flex;
        justify-self: center;
        align-self: center;
        text-align: center;
    }

    .spotify_embed iframe{
        width: 80vw;
        display: flex;
        justify-self: center;
    }
}

@media (min-width:426px) and (max-width:650px) {
    .artist_container{
        display: grid;
        height: fit-content;
        width: 80%;
        align-items: center;
        justify-content: center;
    }

    .artist_img{
        height: 40vh;
        width: 80vw;
    }

    .artist_details{
        padding: 0;
        display: grid;
        width: 80%;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    .artist_details h1{
        display: flex;
        justify-self: center;
        align-self: center;
        text-align: center;
    }

    .spotify_embed iframe{
        width: 80vw;
        display: flex;
        justify-self: center;
    }
}

@media (max-width:426px) {
    .artist_container{
        display: grid;
        height: fit-content;
        width: 80%;
        align-items: center;
        justify-content: center;
    }

    .artist_img{
        height: 30vh;
        width: 80vw;
    }

    .artist_details{
        padding: 0;
        display: grid;
        width: 80%;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    .artist_details h1{
        display: flex;
        justify-self: center;
        align-self: center;
        text-align: center;
    }

    .spotify_embed iframe{
        width: 80vw;
        display: flex;
        justify-self: center;
    }
}

@media (max-width:376px) {
    .artist_container{
        display: grid;
        height: fit-content;
        width: 80%;
        align-items: center;
        justify-content: center;
    }

    .artist_img{
        height: 30vh;
        width: 80vw;
    }

    .artist_details{
        padding: 0;
        display: grid;
        width: 80%;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    .artist_details h1{
        display: flex;
        justify-self: center;
        align-self: center;
        text-align: center;
    }

    .spotify_embed iframe{
        width: 80vw;
        display: flex;
        justify-self: center;
    }
}

@media (max-width:321px) {
    .artist_container{
        display: grid;
        height: fit-content;
        width: 80%;
        align-items: center;
        justify-content: center;
    }

    .artist_img{
        height: 30vh;
        width: 80vw;
    }

    .artist_details{
        padding: 0;
        display: grid;
        width: 80%;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    .artist_details h1{
        display: flex;
        justify-self: center;
        align-self: center;
        text-align: center;
    }

    .spotify_embed iframe{
        width: 80vw;
        display: flex;
        justify-self: center;
    }
}
