
.artist_container{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 85vw;
    height: 75vh;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2rem;
    background: rgb(253,179,72);
    background: linear-gradient(0deg, rgba(253,179,72,1) 0%, rgba(148,28,28,1) 100%);
}

.artist_details{
    height: 75vh;
    width: 40%;
    font-size: 1.3rem;
    padding: 0.5em;
    padding-left: 1.5em;
    border-radius: 15px;
    background-color: rgb(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px 0px black  ;
}

.artist_details h1{
    font-size: 3rem;
    color: white;
}

.artist_details p{
    color: rgb(228, 219, 219);
}

.artist_img{
    display: flex;
    justify-content: start;
    width: 45vw;
    border-radius: 15px;
    height: 70vh;
    box-shadow: 0px 0px 10px 0px;
}

.spotify_embed iframe{
    width: 30vw;
    height: 30vh;
}