.header {
    padding: 1rem;
    background-color: #000000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img{
    width: 10em;
    padding: 1em;
}

.header_left_side{
    display: flex;
    align-items: center;
    font-family: "Space Grotesk", serif;
}

.header_right_side{
    display: flex;
    align-items: center;
    font-family: "Space Grotesk", serif;
}

.header_right_side a{
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 5em;
    height: 2em;
    text-align: center;
    color: white;
    margin-right: 1em;
    background-image: url(../../public/images/orangeBG.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header_right_side a:hover{
    color: black;
}

@media (max-width:1025px) {
    
        .header_right_side{
            width: 40vw;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
}

@media (max-width:769px) {
    .header_right_side{
        width: 40vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width:700px) {
    .header{
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .header_left_side{
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .header_left_side img{
        display: flex;
        justify-self: center;
    }

    .header_right_side{
        display: grid;
        justify-self: center;
        padding: 1em;
        grid-template-columns: repeat(2, 1fr);
    }

    .header_right_side a{
        padding: 0.5em;
    }
}




@media (max-width:376px){
    .header{
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .header_left_side{
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .header_left_side img{
        display: flex;
        justify-self: center;
    }

    .header_right_side{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-self: center;
        padding: 1em;
    }

    .header_right_side a{
        padding: 0.5em;
    }
}